.item-container {
  .item-header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  margin: 4rem;
  .item-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
  }
}
