<div [formGroup]="itemForm">
<mat-form-field>
  <input matInput type="text" formControlName="value" placeholder="Article">
    <button
      *ngIf="itemForm.get('value')?.value"
      matSuffix mat-icon-button aria-label="Clear"
      (click)="clear()">
      <mat-icon>close</mat-icon>
    </button>
</mat-form-field>
  <div class="error-message" *ngIf="itemForm.get('value')?.invalid && itemForm.get('value')?.touched">
    <span *ngIf="itemForm.get('value')?.hasError('required')">Ce champ est obligatoire.</span>
    <span *ngIf="itemForm.get('value')?.hasError('minlength')">Minimum 3 caractères requis.</span>
  </div>

  <button mat-raised-button
          (click)="submit()"
  >Ajouter
    <mat-icon fontIcon="add"/>
  </button>
</div>
